In [88]:
choices = input('Enter\n[1] Income per Month [2] Income per Year: ')
print(choices)

1

In [89]:
income_year1 = float(input('Enter Income per Month: '))*12
income_year2 = float(input('Enter Income per Year: '))

print(income_year1)
print(income_year2)

60000.0
60000.0

In [90]:
def test():
    print('Enter\n[1] Income per Month [2] Income per Year')
    choice = ''
    while choice not in ['1', '2']:
        choice = input('Enter\n[1] Income per Month [2] Income per Year: ')

        if choice == '1':
            income_per_year = float(input('Enter Income per Month: '))*12

        elif choice == '2':
            income_per_year = float(input('Enter Income per Year: '))
    
    return income_per_year
test()

Enter
[1] Income per Month [2] Income per Year

60000.0

In [91]:
# ค่าเงินได้

def income():
    print('Enter\n[1] Income per Month [2] Income per Year')
    choice = ''
    while choice not in ['1', '2']:
        choice = input('Choose\n[1] Income per Month [2] Income per Year: ')

        if choice == '1':
            income_per_year = float(input('Enter Income per Month: '))*12

        elif choice == '2':
            income_per_year = float(input('Enter Income per Year: '))

        else:
            choice = print('Sorry, Try again.')
    
    return income_per_year

In [95]:
test1 = income()
print(test1)

Enter
[1] Income per Month [2] Income per Year
Sorry, Try again.
60000.0

In [96]:
test2 = income()
print(test2)

Enter
[1] Income per Month [2] Income per Year
6000.0

In [97]:
# คำนวณค่าใช้จ่าย

def exp(income_per_year):       
    expense = 0.5 * income_per_year
    if expense > 100000:
        expense = 100000
    else:
        expense   
    
    return expense

In [98]:
exp(60000)

30000.0

In [99]:
exp(500000)

100000

In [104]:
# คำนวณค่าลดหย่อน

def allw():
    print('Add allowance?\n[y]es [n]o')
    choice = ''
    allowance = 0
    while choice != 'n':
        choice = input('Add allowance?\n[y]es [n]o: ')
            
        if choice == 'y':
            a = float(input('Enter amount: '))
            allowance += a
            
        elif choice == 'n':
            allowance
            
        else:
            print('Sorry, Try again.')
            
    return allowance

In [105]:
allw()

Add allowance?
[y]es [n]o
Sorry, Try again.
Sorry, Try again.

110.0

In [106]:
# คำนวณค่าเงินได้สุทธิ

def cal_income(income_per_year, expense, allowance):
    net_income = income_per_year-expense-allowance
    return net_income

In [107]:
cal_income(600, 100, 100)
# 400

400

In [108]:
# คำนวณภาษีโดยใช้อัตราภาษีแบบขั้นบันได

def cal_tax(net_income):
    if net_income > 5000000 :
        tax = ((net_income-5000000)*0.35)+1265000
        
    elif 5000000 >= net_income > 2000000:
        tax = ((net_income-2000000)*0.30)+365000
        
    elif 2000000 >= net_income > 1000000:
        tax = ((net_income-1000000)*0.25)+115000
        
    elif 1000000 >= net_income > 750000:
        tax = ((net_income-750000)*0.20)+65000
        
    elif 750000 >= net_income > 500000:
        tax = ((net_income-500000)*0.15)+27500
 
    elif 500000 >= net_income > 300000: 
        # 300000 < net_income <= 500000
        tax = ((net_income-300000)*0.10)+7500   

    elif  300000 >= net_income > 150000:
        tax = (net_income-150000)*0.05
        
    elif  net_income < 150000:
        tax = 0

    print(f'Net Income = {net_income}, Tax = {tax}')

In [109]:
cal_tax(2000)

Net Income = 2000, Tax = 0

In [110]:
# income_per_month = 45000
# allowance = 59000 + 600000 = 119000
# net_income = 321000

a = income()
b = exp(a)
c = allw()
d = cal_income(a, b, c)

Enter
[1] Income per Month [2] Income per Year
Sorry, Try again.
Add allowance?
[y]es [n]o
Sorry, Try again.

In [111]:
print(d)

321000.0

In [112]:
cal_tax(d)

Net Income = 321000.0, Tax = 9600.0